In [1]:
import yahooquery as yf
import locale
import pandas as pd
from concurrent.futures.thread import ThreadPoolExecutor as Executor
import time
import datetime
import os

In [2]:
simbol_ = 'PETZ3.SA'

In [3]:
ticker = yf.Ticker(simbol_, asynchronous=True)

In [4]:
tkr = ticker.all_modules[simbol_]

In [6]:
ticker.history(period='6mo')

                      open    low    volume   high  close   adjclose  \
symbol   date
PETZ3.SA 2022-06-06  12.65  11.78   7733600  12.70  11.95  11.942625
         2022-06-07  11.84  11.46   6528400  11.89  11.72  11.712768
         2022-06-08  11.72  11.55   3986000  11.95  11.63  11.622823
         2022-06-09  11.67  11.57   6439800  12.05  11.82  11.812705
         2022-06-10  11.72  11.06   9785500  11.89  11.15  11.143119
...                    ...    ...       ...    ...    ...        ...
         2022-11-29   7.35   7.10   7886400   7.49   7.29   7.290000
         2022-11-30   7.30   7.04  10856600   7.44   7.37   7.370000
         2022-12-01   7.29   6.95   9860500   7.36   6.97   6.970000
         2022-12-02   6.99   6.67  39293900   7.15   6.98   6.980000
         2022-12-05   6.98   6.85   4262700   7.09   6.90   6.900000

                     dividends
symbol   date
PETZ3.SA 2022-06-06        0.0
         2022-06-07        0.0
         2022-06-08        0.0
         2022-06-09        0.0
         2022-06-10        0.0
...                        ...
         2022-11-29        0.0
         2022-11-30        0.0
         2022-12-01        0.0
         2022-12-02        0.0
         2022-12-05        0.0

[126 rows x 7 columns]

In [16]:
# price momentum

# prMo = (CP - CPn) / CPn
# CP = Closing price in the current period
# CPn = Closing price N periods ago

# considerar n = 6 meses

In [10]:
CPn = ticker.history(period='6mo')['close'][0]
print('CPn ', CPn)

CP = tkr['financialData']['currentPrice']
print('CP ', CP)

pr = CP - CPn
print('CP - CPn ', pr)

prMo = (CP - CPn) / CPn
prMo = round(prMo*100, 2)
print('prMo ', prMo)

CPn  11.949999809265137
CP  6.89
CP - CPn  -5.059999809265137
prMo  -42.34

In [7]:
CP - CPn

2.1199998092651384

In [9]:
round(prMo, 2)

0.15

In [23]:
ticker.history(period='6mo')['close']

                         close        low       high    volume       open  \
symbol   date
VALE3.SA 2022-06-06  88.550003  88.550003  89.790001  14932800  89.639999
         2022-06-07  90.620003  88.110001  90.889999  27004800  88.239998
         2022-06-08  87.500000  86.849998  90.330002  26959100  89.779999
         2022-06-09  84.540001  84.449997  87.000000  36291100  87.000000
         2022-06-10  84.559998  82.379997  84.989998  28689500  83.370003
...                        ...        ...        ...       ...        ...
         2022-11-29  84.440002  82.620003  85.680000  42574300  82.849998
         2022-11-30  85.709999  84.760002  86.620003  59932800  85.000000
         2022-12-01  86.180000  84.730003  86.750000  34319300  86.419998
         2022-12-02  86.800003  84.970001  87.739998  30213600  86.760002
         2022-12-05  88.379997  87.870003  88.440002    881300  87.900002

                      adjclose  dividends
symbol   date
VALE3.SA 2022-06-06  84.186569        0.0
         2022-06-07  86.154564        0.0
         2022-06-08  83.188301        0.0
         2022-06-09  80.374161        0.0
         2022-06-10  80.393173        0.0
...                        ...        ...
         2022-11-29  84.440002        0.0
         2022-11-30  85.709999        0.0
         2022-12-01  86.180000        0.0
         2022-12-02  86.800003        0.0
         2022-12-05  88.379997        0.0

[126 rows x 7 columns]

In [25]:
ticker.history(period='6mo')['close'][0]

88.55000305175781